html,
body,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: "Baloo 2", cursive;
}

body {
  background-image: url(/pattern2.png);
  text-align: center;
}

#themes {
  text-align: left;
  margin-left: 1rem;
  margin-top: 1.5rem;
}

.theme-btn {
  background-color: rgba(49, 49, 49, 0.384);
  width: 8rem;
  height: 3rem;
  border-radius: 1.5rem;
  border: 0.2rem solid rgba(0, 0, 0, 0.295);
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-right: 0.5rem;
  transition: all 0.3s;
}

.theme-btn:hover {
  transform: scale(1.12);
  background-color: rgba(49, 49, 49, 0.521);
  border: 0.2rem solid rgba(0, 0, 0, 0.747);
}

label {
  display: block;
}

label,
p,
input {
  font-size: 1.8rem;
}

input {
  text-align: center;
  border-radius: 1.5rem;
  background-color: rgba(49, 49, 49, 0.384);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  border: 0.2rem solid rgba(0, 0, 0, 0.295);
  color: rgb(255, 255, 255);
}

#info {
  margin-right: 3rem;
  margin-left: 3rem;
}

#display {
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}

#display-div {
  position: relative;
  align-content: center;
  background-color: rgba(49, 49, 49, 0.384);
  border-radius: 2rem;
  width: 40%;
  height: fit-content;
}

#display-img-text {
  width: 100%;
  height: 19rem;
  position: relative;
}

#display-img {
  position: relative;
  height: 100%;
  width: 40%;
}

#display-img-container {
  position: absolute;
  height: 15rem;
  width: 15rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  right: 1.5rem;
  background-position: center;
  background-size: cover;
  border-radius: 1rem;
}

#display-text {
  position: absolute;
  height: 100%;
  width: 60%;
  right: 0%;
  top: 0%;
}

#display-text-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: fit-content;
  left: 1.5rem;
  margin-right: 2rem;
  text-align: left;
}

#text-main {
  font-size: 1.7rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

#text-sub {
  font-size: 2rem;
  color: rgb(255, 255, 255);
}

#display-bgm {
  margin-bottom: 2rem;
}

#time-div {
  margin-bottom: 1rem;
  font-size: 3rem;
}

.time-labels {
  font-size: 3rem;
}

@media screen and (max-width: 1300px) {
  #display-div {
    width: 60%;
  }
}

@media screen and (max-width: 750px) {
  #display-div {
    width: 75%;
  }
  #display-img-text {
    height: 17rem;
  }
  #display-img-container {
    right: 1rem;
    height: 13rem;
    width: 13rem;
    margin-top: 2.5rem;
  }
  #display-text-container {
    left: 1rem;
  }
}

@media screen and (max-width: 500px) {
  #display-img-text {
    height: 15rem;
  }
  #display-img-container {
    right: 1rem;
    height: 10rem;
    width: 10rem;
    margin-top: 2.5rem;
  }
  #display-text-container {
    left: 1rem;
  }
  #text-main {
    font-size: 1.5rem;
  }
  #text-sub {
    font-size: 1.7rem;
  }
  audio {
    height: 4rem;
    width: 90%;
  }
}

@media screen and (max-width: 420px) {
  #display-div {
    width: 85%;
  }
}
